@{
    ViewBag.Title = "Teacher List";
    Layout = "~/Areas/Admin/Views/Shared/_AfterLayout.cshtml";
}

<div ng-controller="ctrTeacher">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-lg-5 col-md-5 ">
                    <label class="m-0 font-weight-bold text-primary">Teachers List</label>
                </div>
                <div class="col-lg-4 col-md-4 ">
                </div>
                <div class="col-lg-3 col-md-3 ">
                    @{
                        if (WebApp.Utility.SessionFacade.AdminUserSession.userroleid == 1)
                        {
                            <div style="text-align: right;">
                                <a href="@Url.Action("Teacherform", "Teacher")" class="btn btn-primary"><i class="far fa-plus-square"></i>Add New</a>
                            </div>
                        }
                    }
                </div>

            </div>


        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable="ng" dt-options="dtOptions" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Block</th>
                            <th>Teacher</th>
                            <th>School</th>
                            <th>Subjects</th>
                            <th>Class level</th>
                            <td>Active</td>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in TeacherList">
                            <td>{{item.blockname}}</td>
                            <td>{{item.teacherfirstname}}  {{item.teacherlastname}}</td>
                            <td>{{item.schoolname}}</td>
                            <td>{{item.subjectName}}</td>
                            <td>{{item.ClassName}}</td>
                            <td>
                                <input type="checkbox" disabled id="exampleCheck1" ng-model="item.isactive">
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a type="button" class="btn btn-primary btn-rounded" href="@Url.Action("TeacherForm", "Teacher")?id={{item.teacherid}}">
                                        <i class="far fa-eye"></i>
                                    </a>    @{
                                        if (WebApp.Utility.SessionFacade.AdminUserSession.userroleid == 1)
                                        {
                                        <button type="button" class="btn btn-primary btn-rounded" ng-click="DeleteTeacher(item,$index,true)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <script>
        app.controller("ctrTeacher", function ($scope, $http, $q, $interval, $window, $ngConfirm, DTOptionsBuilder, DTColumnBuilder) {
            $scope.ctrTeacher = {}


            $scope.dtOptions = DTOptionsBuilder.newOptions()
             // .withDisplayLength(8)
              .withOption('order', [0, 'asc'])
              .withOption('searching', true)
              .withOption('lengthChange', true)
              .withOption('bInfo', false)
              .withOption('paging', true);

            $scope.getTecherList = function () {
                var obj = {};
                obj.Search = "";
                $http.post('@Url.Action("Get_Teacher_List", "Teacher")', obj).then(
                           function (response) {
                               $scope.TeacherList = response.data.aaData;
                           },
                           function (err) {
                               var error = err;
                           });
            }
            $scope.getTecherList();

            $scope.DeleteTeacher = function (objTeacher, index, Delete) {

                $ngConfirm({
                    title: 'Are you want to Confirm?',
                    content: 'Do you want to delete: ' + objTeacher.teacherfirstname + ' ' + objTeacher.teacherlastname,
                    autoClose: 'cancel|8000',
                    buttons: {
                        deleteUser: {
                            text: 'ok',
                            btnClass: 'btn btn-primary',
                            action: function () {
                                /**/
                                var obj = {};
                                obj.tch = objTeacher;
                                obj.isDelete = Delete;
                                if (objTeacher.teacherid > 0) {
                                    $http.post('@Url.Action("SaveUpdate_Delete_Teacher", "Teacher")', obj).then(
                      function (response) {
                          if (response.data.aaData == 3) {
                              showSuccessToast("Data Deleted Sucessfully");
                              $scope.TeacherList.splice(index, 1);
                          } else if (response.data.aaData == -1) {
                              showWarningToast("Something went wrong.Please Try Again..")
                          } else {
                              showWarningToast("this Record used some other table.so can't delete this records")
                          };
                      },
                      function (err) {
                          var error = err;
                      });
                                } else {
                                    $scope.TeacherList.splice(index, 1);
                                    showSuccessToast("Data Deleted Sucessfully");
                                }
                                /**/
                            }
                        },
                        cancel: function () {
                            return
                        }
                    }
                });


            }

        });

    </script>
