@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_BeforeLayout.cshtml";
}



<style>
    .bg-login-image {
        background: url(/Areas/Admin/Content/img/logo.jpg);
        background-position: center;
        background-size: cover;
    }
</style>
<div class="container" ng-controller="CtrlLogin">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" ng-model="CtrlLogin.UserName" aria-describedby="emailHelp" placeholder="Enter User Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" ng-model="CtrlLogin.Password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-user btn-block" ng-click="Login()">
                                        Login

                                    </button>
                                    <span class="part-time" ng-hide="ErrorMsg==''||ErrorMsg==null">{{ErrorMsg}}</span>
                                    @*<hr>*@
                                    @*   <a href="index.html" class="btn btn-google btn-user btn-block">
                                                                    <i class="fab fa-google fa-fw"></i>Login with Google
                                            </a>
                                                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                                                    <i class="fab fa-facebook-f fa-fw"></i>Login with Facebook
                                            </a>*@
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/Admin/forgotpassword">Forgot Password?</a>
                                </div>
                                @*<div class="text-center">
                                            <a class="small" href="register.html">Create an Account!</a>
                                        </div>
                                        </form>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <br />
                    <div class="row ">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; 2019 All rights reserved MAKERWALA, Powered by UVTECH GLOBAL</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<script>
    app.controller("CtrlLogin", ['$scope', '$http', '$q', '$interval', function ($scope, $http, $q, $interval) {
        $scope.CtrlLogin = {};

        $scope.Login = function () {

            var obj = {};
            obj.User_Name = $scope.CtrlLogin.UserName;
            obj.Password = $scope.CtrlLogin.Password;
            $scope.myPromise = $http.post('@Url.Action("User_Login", "Login")', obj).then(
                          function (response) {
                              if (response.data == -1) {
                                  $scope.ErrorMsg = "Password Or Username Incorrect !";
                              }
                              else if (response.data == "0") {
                                  $scope.ErrorMsg = "Please Activate UserName";
                                  $scope.Resend = true;
                              }
                              else if (response.data >= 1) {
                                  setTimeout(window.location.href = "@Url.Action("Index", "Dashboard")", 2000)
                              }
                              else {
                                  $scope.ErrorMsg = "Please Contact Administrator";
                              }
                          },
                          function (err) {
                              var error = err;
                          });
        }

    }]);

</script>

