@{
    ViewBag.Title = "Country";
    Layout = "~/Areas/Admin/Views/Shared/_AfterLayout.cshtml";
}

<div ng-controller="ctrCountryForm" class="wrapper">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Country</h6>
        </div>
        <div class="card-body">
            <input type="hidden" class="form-control" autocomplete="off" ng-model="ctrCountryForm.CustomerID">
            <form>

                <div class="row">
                    <div class="col-lg-12 col-md-12 ">
                        <label for="exampleFormControlInput1">Name<lable style="color: red">&nbsp*</lable></label>
                        <input type="text" class="form-control" autocomplete="off" ng-model="ctrCountryForm.countryname" maxlength="50" required country autofocus ngmessage="Please enter the Customer Name">
                    </div>
                </div>


                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Remark </label>
                    <textarea class="form-control" rows="3" autocomplete="off" ng-model="ctrCountryForm.remarks" required  autofocus ngmessage="Please enter the Address"></textarea>
                </div>
                <div class="form-check">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 ">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="ctrCountryForm.isactive">
                            <label class="form-check-label" for="exampleCheck1">Is Active</label>
                        </div>
                    </div>
                </div>
                <hr class="style1">
                <div style="margin-top: 10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <button id="btn-Save" class="btn btn-primary" ng-click="SaveUpdateDeleteCountry(false)">Save</button>
                        <a id="btn-cancel" class="btn btn-secondary" href="@Url.Action("index", "Country")">Cancel</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    app.controller("ctrCountryForm", function ($scope, $http, $q, $interval, $window, DTOptionsBuilder, DTColumnBuilder) {

        $scope.ctrCountryForm = {};
        $scope.ctrCountryForm.isactive = true;


        var coid = parseInt(getQueryStringValue("id") != "" ? getQueryStringValue("id") : "0");

        if (coid > 0) {
            $scope.getCountryList = function () {
                var obj = {};
                obj.Search = "";

                $http.post('@Url.Action("Get_Country_List", "Country")', obj).then(
                               function (response) {
                                   $scope.ctrCountryForm = _.where(response.data.aaData, { countryid: coid })[0];
                               },
                               function (err) {
                                   var error = err;
                               });
            }
            $scope.getCountryList();
        }

        $scope.SaveUpdateDeleteCountry = function (Delete) {
            if (!ValidateRequired("country")) {
                return;
            }
            var obj = {};
            obj.Co = $scope.ctrCountryForm;
            obj.isDelete = Delete;

            $http.post('@Url.Action("SaveUpdate_Delete_Country", "Country")', obj).then(
                           function (response) {
                               debugger
                               if (response.data.aaData == 1) {
                                   showSuccessToast("Data Saved Sucessfully");
                                   setTimeout(window.location.href = "@Url.Action("Index", "Country")", 1000)
                               } else if (response.data.aaData == 2) {
                                   showInfoToast("Already exist Country Name...");
                               }
                               else {
                                   showWarningToast("Something went wrong.Please Try Again..")
                               };
                             
                           },
                           function (err) {
                               var error = err;
                           });

        }

    });

</script>
